<app-button character="CE" class="operator"></app-button>
<app-button character="C" class="operator"></app-button>
<app-button character="DEL" class="operator"></app-button>
<app-button character="/" class="operator"></app-button>

<app-button character="7" class="digit"></app-button>
<app-button character="8" class="digit"></app-button>
<app-button character="9" class="digit"></app-button>
<app-button character="8" class="operator"></app-button>

<app-button character="4" class="digit"></app-button>
<app-button character="5" class="digit"></app-button>
<app-button character="6" class="digit"></app-button>
<app-button character="-" class="operator"></app-button>

<app-button character="1" class="digit"></app-button>
<app-button character="2" class="digit"></app-button>
<app-button character="3" class="digit"></app-button>
<app-button character="+" class="operator"></app-button>

<app-button character="-/+" class="digit"></app-button>
<app-button character="0" class="digit"></app-button>
<app-button character="." class="digit"></app-button>
<app-button character="=" class="calculation"></app-button>