:host {
  position: absolute;
  left: 37.5%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);

  height: 500px; 
  width: 320px;

  display: flex;
  flex-direction: column;

  border: 1.5px solid grey;
}
