#root {
  position: absolute;
  left: 37.5%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);

  height: 500px; 
  width: 350px;

  display: flex;

  background-color: black;
  border: 1.5px solid grey;
}
