:host {
  position: absolute;
  left: 37.5%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);

  width: 320px;

  display: flex;
  flex-direction: column;

  border: 1px solid rgb(73, 73, 73);
  border-radius: 1px;
  padding: 4px;
}
