:host {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.operator:host {
  background-color: rgb(19, 19, 19);
}

.digit:host {
  background-color: rgb(6, 6, 6);
}

.calculation:host {
  background-color: rgb(20, 70, 108);
}